<!--h2>{{hero.name | uppercase}} Details</h2>
<div><span>id: </span>{{hero.id}}</div>
<div><span>name: </span>{{hero.name}}</div>
<div>
  <label>name:
    <input [(ngModel)]="hero.name" placeholder="name">
  </label>
</div-->

<h2>My Heroes</h2>
<ul class="heroes">
  <li *ngFor="let hero of heroes" 
  (click)="onSelect(hero)" 
  [class.selected]="hero === selectedHero">
    <span class="badge">{{hero.id}}</span>{{hero.name}}
   
  </li>
 </ul> 

 <app-hero-detail [hero]="selectedHero"></app-hero-detail>